{% extends 'base.html' %}

{% block content %}
<div class="form-page">
    <h1>Change Password</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <label>Old password:</label>
        {{ form.old_password }}
        {{ form.old_password.errors }}

        <label>New password:</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}

        <ul class="password-rules">
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>

        <label>New password confirmation:</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}

        <button type="submit" class="btn-main">Save</button>
    </form>

    <p class="small">
        <a href="{% url 'profile' %}">← Back to Profile</a>
    </p>
</div>
{% endblock %}